<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Schedex | Availability </title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>        
</head>
<body>
    <div class="container">

        <div class="left-wrapper pull-left">
            <div class="side-navigation">
                <div class="logo-wrapper">
                   <h2>Peexo</h2> 
                </div>
                <ul class="side-url-links">
                    <li> <i class="fa fa-bar-chart"></i> Dashboard </li>
                    <li> <i class="fa fa-user"></i> Profile </li>
                    <li> <i class="fa fa-cube"></i> Pricing Package </li>
                    <li class="active"> <i class="fa fa-calendar"></i> Availability </li>
                    <li> <i class="fa fa-camera"></i> Bookings </li>
                    <li> <i class="fa fa-suitcase"></i> Portfolio </li>
                    <li> <i class="fa fa-picture-o"></i> Albums </li>
                    <li> <i class="fa fa-shopping-bag"></i> Subscriptions </li>
                    <li> <i class="fa fa-money"></i> Payments </li>
                    <li> <i class="fa fa-cog"></i> Setting</li>
                </ul>
                <div  class="footer">&copy; 2019 Peexo Technologies</div>
            </div>
        </div>

        <div class="right-wrapper pull-right">
            <div class="top-navigation">
                <ul class="top-url-links">
                    <li> Explore photos </li>
                    <li>Find a photographer</li>
                    <li> <i class="fa fa-file-text-o"></i></li>
                    <li> <i class="fa fa-bell-o"></i></li>
                    <li> <i class="fa fa-envelope-o"></i></li>
                    <li class="avatar-wrap"> 
                        <span> <img src="images/dp.jpg" alt="Avatar" /> </span>  
                    </li>
                    <li class="username-wrap"> Oghenetega <span class=""><i class="fa fa-angle-down"></i></span> </li>
                    <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="main-content">
                <h3>Availability</h3>
                <div class="packaged-titles pull-left">
                    <span><i class="fa fa-calendar"></i> Calendar view</span>
                    <span><i class="fa fa-list"></i> List view</span>
                </div>
                <div class="search-add-wrapper pull-right">
                    <div class="searchbox-wrapper">
                        <input type="text" id="search" placeholder="Search"> <i class="fa fa-search"></i>
                    </div>
                    <div class="addbutton-wrapper pull-right">
                        <button type="button"> <i class="fa fa-plus"></i> ADD SCHEDULE
                    </div>
                </div>

                <div id='app'>
                    <div class='calendar'>

                      <div class='header'>
                        <a class='arrow' @click='movePreviousYear'>&laquo;</a>
                        <a class='arrow' @click='movePreviousMonth'>&lsaquo;</a>
                        <span class='title' @click='moveThisMonth'>
                          {{ header.label }}
                        </span>
                        <a class='arrow' @click='moveNextMonth'>&rsaquo;</a>
                        <a class='arrow' @click='moveNextYear'>&raquo;</a>
                      </div>
                      
                      <div class='weekdays'>
                        <div class='weekday' v-for='weekday in weekdays'>
                          {{ weekday.label }}
                        </div>
                      </div>

                      <div class='week' v-for='week in weeks'>
                        <div class='day' :class='{ today: day.isToday }' v-for='day in week'>
                          {{ day.label }}
                        </div>
                      </div>

                    </div>
                </div>

                 

            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <script src="js/vue-dev.js"></script>
    <script src="js/main2.js"></script>
</body>
</html>