<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Stock Xchanger | World Trading Data API </title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
    <link href="css/style.css" type="text/css" rel="stylesheet"/>        
</head>
<body>
    <div class="wrapper" id="stock-handler">

        <div class="left-wrapper pull-left">
            <div class="side-navigation">
                <div class="logo-wrapper">
                   <h2> Stock Xchange </h2> 
                </div>
                <ul class="side-url-links">
                    <li v-bind:class="requestType === 'sharePrice' ? 'active' : '' "
                        v-on:click="prepRequest(['sharePrice'])"> <i class="fa fa-bar-chart"></i> Share Price 
                    </li>
                    <li v-bind:class="requestType === 'mutualFunds' ? 'active' : '' "
                        v-on:click="prepRequest(['mutualFunds'])"> <i class="fa fa-user"></i> Mutual Funds 
                    </li>
                    <li v-on:click="prepRequest('')"> <i class="fa fa-cube"></i> Intra Day Market Data </li>
                    <li v-on:click="prepRequest('')"> <i class="fa fa-data"></i> Historical </li>
                    <li v-on:click="prepRequest('')"> <i class="fa fa-camera"></i> Bookings </li>
                    <li v-on:click="prepRequest('')"> <i class="fa fa-suitcase"></i> Forex Data </li>
                    
                </ul> 
            </div>
        </div>

        <div class="right-wrapper pull-right">
            <div class="top-navigation">
                <ul class="top-url-links"> 
                    <li>Github Repo</li>
                     
                    <li class="avatar-wrap"> 
                        <span> <img src="images/dp.jpg" alt="Avatar" /> </span>  
                    </li>
                    <li class="username-wrap"> Admin <span class=""><i class="fa fa-angle-down"></i></span> </li>
                    <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="main-content"> 
 
                <div class="data-wrapper" id="app">
                    <div class="data-header"> 
                        <label class=""> Today </label>
                        <button v-on:click="say('hi')">Say hi</button>
                        <span class="month-of-year" > {{ todays_date }} </span> 
                    </div> 
                    <div class="data-container" v-if="processing">
                        <vue-simple-spinner :speed="spin_speed" :size="spin_size" :line-size="line_size"></vue-simple-spinner>
                    </div>

                    <div class="data-container" v-else="processing">

                        <div v-if="companies.length < 1" class="alert alert-danger text-center">
                            No record found
                        </div>

                        <div class="" v-else="companies.length > 0">
                            <table class="table">
                                <thead class="thead-theme">
                                    <tr>
                                        <th scope="col">Company Name</th> 
                                        <th scope="col">Trading as</th>
                                        <th scope="col">Current Share Price</th> 
                                    </tr>
                                </thead>
                                <tbody>    
                                    <tr v-for="(company, index) in companies">
                                      
                                        <td>  
                                              {{ company.name }}  
                                        </td> 
                                        <td> {{ company.symbol }}  </td>
                                        <td> {{ company.currency }} {{ company.price }}  </td> 
                                    </tr>       
                                </tbody>
                            </table>
                        </div>  
                    </div>
                     
                </div>  

            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script src="js/vue-dev.js"></script>
    <script src="node_modules/vue-simple-spinner/dist/vue-simple-spinner.min.js"></script>    
    <script src="js/settings.js"></script>
    <script src="js/main.js"></script>
 
</body>
</html>